src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="postgres-to-sfdc-api-main">
        <http:listener config-ref="postgres-db-to-sfdc-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="postgres-db-to-sfdc-api-config" />
    </flow>
    <flow name="postgres-to-sfdc-api-console">
        <http:listener config-ref="postgres-db-to-sfdc-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="postgres-db-to-sfdc-api-config" />
    </flow>
    <flow name="get:\(business_object)\to-sfdc:postgres-db-to-sfdc-api-config">
        <flow-ref doc:name="migrateFlow" doc:id="7423b177-d765-4cd1-b198-401feb463b8b" name="migrateFlow" />
    </flow>
    <flow name="get:\export\(business_object):postgres-db-to-sfdc-api-config">
        <flow-ref doc:name="getSalesforceData" doc:id="d4baad80-976b-49fd-b593-74768530c9d5" name="getSalesforceData" />
    </flow>
</mule>
